# macOS
.DS_Store
._*

# Environment
.env
.env.local

# Editor
.idea
.vscode

# Node
node_modules/

# Wrangler / Cloudflare Workers
.mf/
.wrangler/
# wrangler.toml  # 保留此文件作为模板配置示例

# Build
dist/
build/

# Logs
*.log

# Temp
*.tmp
*.temp
