<!-- 基础网格 -->
<div class="grid">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
</div>

<!-- 指定列数 -->
<div class="grid grid-cols-2">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
</div>

<div class="grid grid-cols-3">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
</div>

<div class="grid grid-cols-4">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
</div>

<!-- 响应式网格 -->
<div class="grid grid-responsive">
  <div class="grid-item">自动适应</div>
  <div class="grid-item">最小 280px</div>
  <div class="grid-item">自动填充</div>
  <div class="grid-item">...</div>
</div>

<!-- 间距变体 -->
<div class="grid grid-cols-3 grid-gap-sm">
  <div class="grid-item">小间距</div>
  <div class="grid-item">小间距</div>
  <div class="grid-item">小间距</div>
</div>

<div class="grid grid-cols-3 grid-gap-lg">
  <div class="grid-item">大间距</div>
  <div class="grid-item">大间距</div>
  <div class="grid-item">大间距</div>
</div>

<!-- 跨列 -->
<div class="grid grid-cols-4">
  <div class="grid-item col-span-2">跨2列</div>
  <div class="grid-item">1</div>
  <div class="grid-item">1</div>
  <div class="grid-item col-span-3">跨3列</div>
  <div class="grid-item">1</div>
</div>

<!-- Flex 行布局 -->
<div class="row">
  <div class="col">自动宽度</div>
  <div class="col">自动宽度</div>
  <div class="col">自动宽度</div>
</div>

<div class="row">
  <div class="col-4">4/12</div>
  <div class="col-8">8/12</div>
</div>

<div class="row">
  <div class="col-3">3/12</div>
  <div class="col-6">6/12</div>
  <div class="col-3">3/12</div>
</div>

